#page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputTitle{
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}

.input{
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

#tData{
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 10px;
    width: 80%;
}

select {
    width: 15%;
    height: 35px;
    border: 2px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px;
    /* padding: 12px 13px; */
    margin: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#calBtn{
    width: 60vw;
    color: white;
    border: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background-color: #90dd90;
}

#calBtn:hover{
    background-color: #86ce86;
}   

#result{
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 80vw;
    height: 35px;
    text-align: center;
    justify-content: center;
}
